#option {
	margin-top: 10%;
}
.rule {
	margin-top: 40px;
}

#footer {
	margin-top: 20%;
}

div.row #add-rule {
	margin-bottom: 2%;
	margin-top: 2%;
}

#mail-to {
  margin-right: 20px;
}

table td {
  border-top: none;
}

.table th, .table td {
  border-top: none;
}

.borderless td{
  border: none;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
  border-top:none;
}